@import "tailwindcss";
:root {
  --color-bg: #000000;
  --color-text: #ffffff;
  --color-accent: #00ff00; /* terminal green */
  --font-mono: monospace;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

